ul {list-style-type:none}

body {
	margin: 0px;
}

.hidden {
	display: none;
}

#range {
    width:800px;
    height:600px;
    overflow:hidden;
    border:1px solid black;
   	margin: 0 auto;
   	margin-top: 100px;
   	position: relative;
}


.arrow-container {
	top : 50%;
	left: 37%;
	z-index: 1;
	position:absolute;

}
.arrow-container div{
	background-image: url(arrow.png);
	background-size: 100% 100%;
	width: 400px;
	height: 40px;
	position:absolute;
	-webkit-transform : rotate(30deg);
	opacity: 0.4;
}



.tag-interest, .prediction {
	height: 50px;
	width: 100px;
}

.interest {
	height: 40px;
	width: 40px;
	float: left;
	margin-left: 1px;
	margin-bottom: 1px;
}

#viewport{
	float:left;
}

.cell,.centroid {
	background-color: #ffffff;
	position: absolute;
}


.centroid {background-color: #000000 !important;}
.color-0 {background-color:#cccccc;}
.color-1 {background-color:#aa0000;}
.color-2 {background-color:#00aa00;}
.color-3 {background-color:#0000aa;}
.color-4 {background-color:#aaaa00;}
.color-5 {background-color:#00aaaa;}
.color-6 {background-color:#ffffff;}
.color-7 {background-color:#000000;}